numpy
scipy
pandas
matplotlib

opencv-python

scikit-learn

torch
torchvision
torchaudio

fastapi
uvicorn

python-multipart

sqlalchemy

psycopg2-binary

pydantic

wandb

onnx
onnxruntime

jupyter
notebook

tqdm

plotly

python-dotenv